# หลักสูตร The Data Master
## เอกสารตัวอย่างประกอบ Week 1: Python Fundamental

จัดทำโดย  ดร.อิทธิพันธ์ เมธเศรษฐ

In [2]:
### example 4-01 ###
### if  ###

x = 10
y = 20

if x>y:
  print(" x is greater than y.")

In [4]:
### example 4-02 ###
###  if-else ###

x = 10
y = 20

if x>y:
  print(" x is greater than y.")
else:
  print(" x is not greater than y.")

 x is not greater than y.

In [8]:
### example 4-03 ###
### if-elseif-else ###

x = 5
y = 20
z = 10

if x>y:
  print(" x is greater than y.")
elif x>z:
  print(" x is greater than z.")
else:
  print(" x is the lowest.")

 x is the lowest.

### for loop

In [10]:
### example 4-04 ###
## for

my_list = [1,2,3]

sum=0
for ad in my_list: 
    sum+=ad    #This is short hand for sum = sum+ad
    print(sum) 
    
#for country in ['England', 'Spain', 'India']:
#    print(country)

1
3
6

In [11]:
### example 4-05 ###
## nested for

x=[0,1,2]
y=['a','b','c']
#Nested for loops
for a in x:
    for b in y:
        print(a,b)
    print("\n")

0 a
0 b
0 c


1 a
1 b
1 c


2 a
2 b
2 c

In [14]:
### example 4-06 ###
## for and range

z=range(5)
print(z, type(z))

#Range
#for i in z:
#    print('Printing five')

#for i in range(5):
#    print('Print five more')

#range(start=0, end, step=1)
for i in range(5,20,2):
    print('i: %d is the value' % (i)) 
    #print(f'i:{i}  is the value' )

range(0, 5) <class 'range'>
i: 5 is the value
i: 7 is the value
i: 9 is the value
i: 11 is the value
i: 13 is the value
i: 15 is the value
i: 17 is the value
i: 19 is the value

### While loop
- Performs a loop while a conditional is True.
- Doesn't auto-increment.

In [17]:
### example 4-07 ###
## while loop
i = 12

#while i >= 7:
#    print(i)
#    i = i -1

for i in range(12,7,-2):
    print('i: %d is the value' % (i)) 
    #print(f'i:{i}  is the value' )

i: 12 is the value
i: 10 is the value
i: 8 is the value

Q1: เขียนโปรแกรม รับคะแนน นักเรียน แล้วทำการตัดเกรด 

*   A : คะแนน ตั้งแต่ 80 ขึ้นไป
*   B : คะแนน ระหว่าง 60-79
*   C : คะแนน น้อยกว่า 60

In [19]:
score = int(input("input score: "))

if score >= 80:
  print("A")
elif score >= 60 and score <=79:
  print("B")
else:
  print("C")

input score: 79
B

Q2: เขียนโปรแกรม รับชื่อ แล้วทำการนับ ตัวอักษร สระ (a,e,i,o,u)

In [22]:
name = input("input name: ")

count = { "a": 0,
          "e": 0}

word = name.split()
print("word", word)

for i in word[0]:
  if i=='a':
    count["a"] = count["a"]+1
  elif i=='e':
    count["e"] = count["e"]+1
print(count)

input name: peter parker
word ['peter', 'parker']
{'a': 0, 'e': 2}

Q3: เขียนโปรแกรมรับ ค่าตัวเลขจากผู้ใช้ ไปเรื่อย ๆ จนกว่าจะถึง -1 แล้วนับจำนวนเลขคู่

Q4: