# The Data Master Week 1 : Python Fundamental

## Colab introduction


*   Code cell and Text cell
*   Cell Move
*   Cell Run
*   Computing Resource

In [ ]:
# input / output #
a = input("input string: ")
print(a, type(a))

b = int(input("input int: "))
print(b, type(b))

input string: hello
hello <class 'str'>
input int: 100
100 <class 'int'>

##Data type and variables

In [ ]:
a = 10
b = 52.232322324
c = "peter"
d = True
e = None

print("a =", a, type(a))
print("b =", b, type(b))
print("c =", c, type(c))
print("d =", d, type(d))
print("e =", e, type(e))

print("\n\n")

print(a, "is integer?", isinstance(a, int))
print(b, "is integer?", isinstance(b, int))
print(c, "is integer?", isinstance(c, int))
print(d, "is integer?", isinstance(d, int))
print(e, "is integer?", isinstance(e, bool))

a = 10 <class 'int'>
b = 52.232322324 <class 'float'>
c = peter <class 'str'>
d = True <class 'bool'>
e = None <class 'NoneType'>



10 is integer? True
52.232322324 is integer? False
peter is integer? False
True is integer? True
None is integer? False

## Data Structure

**Lists**: are just like dynamic sized arrays, declared in other languages (vector in C++ and ArrayList in Java). Lists need not be homogeneous always which makes it the most powerful tool in Python.

**Tuple**: A Tuple is a collection of Python objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists that are mutable.

**Set**: A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set.

**Dictionary**: in Python is an ordered (since Py 3.7) [unordered (Py 3.6 & prior)] collection of data values, used to store data values like a map, which, unlike other Data Types that hold only a single value as an element, Dictionary holds key:value pair. Key-value is provided in the dictionary to make it more optimized.


reference : https://www.geeksforgeeks.org/differences-and-applications-of-list-tuple-set-and-dictionary-in-python/

In [ ]:
list1=[1,4,"Gitam",6,"college"]
list2=[]  # creates an empty list
list3=list((1,2,3))
print("***LIST***")
print(list1)
print(list1[2])
print(list3)

tuple1=(1,2,"college",9)
tuple2=() # creates an empty tuple
tuple3=tuple((1,3,5,9,"hello"))
print("***tuple***")
print(tuple1)
print(tuple2)
print(tuple3)

set1={1,2,5,4,5,"hello","tup"}
set2={(1,8,"python",7)}
print("***SET***")
print(set1)
print(set2)

dict1={"key1":"value1","key2":"value2"}
dict2={}   # empty dictionary
dict3=dict({1:"apple",2:"cherry",3:"strawberry"})
print("***dictionary***")
print(dict1)
print(dict1["key1"])
print(dict3)

***LIST***
[1, 4, 'Gitam', 6, 'college']
Gitam
[1, 2, 3]
***tuple***
(1, 2, 'college', 9)
()
(1, 3, 5, 9, 'hello')
***SET***
{1, 2, 4, 5, 'hello', 'tup'}
{(1, 8, 'python', 7)}
***dictionary***
{'key1': 'value1', 'key2': 'value2'}
value1
{1: 'apple', 2: 'cherry', 3: 'strawberry'}

In [ ]:
# list and operation #
list1=["hello",1,4,8,"good"]
print(list1)
list1[0]="morning"  # assigning values ("hello" is replaced with "morning")
print(list1)
print(list1[4])
print(list1[-1]) # list also allow negative indexing
print(list1[1:4]) # slicing
list2=["apple","mango","banana"]
print(list1+list2) # list concatenation

['hello', 1, 4, 8, 'good']
['morning', 1, 4, 8, 'good']
good
good
[1, 4, 8]
['morning', 1, 4, 8, 'good', 'apple', 'mango', 'banana']

In [ ]:
# tuple and operation #
tuple1=("good",1,2,3,"morning")
print(tuple1)
print(tuple1[0])  # accessing values using indexing
# tuple1[1]="change"  # a value cannot be changed as they are immutable
tuple2=("orange","grapes")
print(tuple1+tuple2)  # tuples can be concatenated
tuple3=(1,2,3)
print(type(tuple3))

In [ ]:
# set and operation #
set1={1,2,3,4,5}
print(set1) # set1[0] sets are unordered, so it doesnot support indexing
set2={3,7,1,6,1} # sets doesnot allow duplicate values
print(set2)

{1, 2, 3, 4, 5}
{1, 3, 6, 7}

In [ ]:
# dictionary and operation #
dict1={"key1":1,"key2":"value2",3:"value3"}
print(dict1.keys())  # all the keys are printed
dict1.values() # all the values are printed
dict1["key1"]="replace_one"  # value assigned to key1 is replaced
print(dict1)
print(dict1["key2"])

dict_keys(['key1', 'key2', 3])
{'key1': 'replace_one', 'key2': 'value2', 3: 'value3'}
value2

## Operation


*   Mathematics
*   Logical
*   Membership

#### Mathematical Operators ####

Mathematical operators are basic arithmetic symbols used to perform addition, subtraction, multiplication, and more.

|Operator                  |Description                                                                        |Example |
|-------------------------|-------------------------------------------------------------------------------|-------------|
|Assignment (=)        |Assigns a variable a value. |(x = 5)       |
|+       | Addition.                   |(1 + 2) |
|-         | Subtraction. | (2 - 1)
|* | Multiplication. |(1 * 2) |
|/             |Division. |(10 / 5)|
|% | Modulus. |(15 % 2)


#### Logical Operators ####

Logical operators are used to compare values, they either return True or False.

|Operator                  |Description                                                                        |Example |
|-------------------------|-------------------------------------------------------------------------------|-------------|
|Equal to (==)        |If the values of the two operands are equal, then the condition becomes true. |(a == a) is True.       |
|Not Equal to (!=)       |If the values of the two operands are not equal, then the condition becomes true.                    |(a != b) is True.|
|Greater Than, Greater than or Equal to (>, >=)          |If the value of the left operand is greater than the value of the right operand then the condition becomes true. | (2>1) is True.
|Less Than, Less than or Equal to (<, <=) |If the value of the left operand is less than the value of the right operand then the condition becomes true. |(1<2) is True.|
|and              |Returns True if all statements are True. |(1<2 and 2>1) is True.|
|or | Returns True if one of the statements is True. |(1<2 or 2<4) is True.
|not | Reverse the result, returns False if the statement is True.| not(1<5 and 5>3) is not True.

#### Membership Operators ####

Membership operators are used to test whether a value or a variable is found in a sequence (string, tuple, list, set or dictionary). These operators become essential when we discuss loops.

|Operator                  |Description                                                                        |Example |
|-------------------------|-------------------------------------------------------------------------------|-------------|
|in| Returns True if a sequence with the specified value is present in the object. | 3 in [1,2,3] is True.
|not in| Returns True if a sequence with the specified value is not present in the object. | 4 not in [1,2,3] is True.

In [ ]:
# mathematics operator #
p = 5
q = 10
r = 12.5
s = 2

print("p + q", p+q)
print("q * r", q*r)
print("q ** s", q ** s)

p + q 15
q * r 125.0
q ** s 100

In [ ]:
# logical operator #
x = 5
y = 10
print(x < 10,type(x < 10))
print(x > 3 and y <20)

True <class 'bool'>
True

In [ ]:
x_list = [1,2,5,8,45,99]
y = 10
print(y in x_list)
print(y not in x_list)

False
True

## String
*   create string
*   concatenate string
*   find
*   substring

In [ ]:
my_string = "Harry Potter"

print("my_string ", my_string)

my_string  Harry Potter

###Construct string from variable

In [ ]:
my_number = 37

new_str = str('Peter_{0}'.format(my_number))
print(new_str)

new_str = str('John_' + str(my_number))
print(new_str)

new_str = str('Nick_%d' % (my_number))
print(new_str)

Peter_37
John_37
Nick_37

In [ ]:
my_string = "Harry Potter"

print(my_string[:])
print(my_string[1])
print(my_string[1:])
print(my_string[:5])
print(my_string[3:8])
print(my_string[:-3])

Harry Potter
a
arry Potter
Harry
ry Po
Harry Pot

In [1]:
my_string = "Harry Potter"

print(my_string[:])
print(my_string[1])
print(my_string[1:])
print(my_string[:5])
print(my_string[3:8])
print(my_string[:-3])

Harry Potter
a
arry Potter
Harry
ry Po
Harry Pot

In [ ]:
my_string = "Harry Potter"

my_string2 = my_string.split()
print(my_string2)

['Harry', 'Potter']

In [ ]:
# replace string #
my_string = "Harry Potter"

my_string2 = my_string.replace("t","x")
print(my_string2)

Harry Poxxer

In [ ]:
# find string in a longer string #
my_string = "Harry Potter"

pos = my_string.find("y")
print(pos)

4

## Function
*   create new function
*   function input
*   function output
*   recursive function

```python
def function_name(argument1, argument2,...,):
    """
    Description of function
    """
    
    # Function statements
    return(return_value)
```


**Function Name:**  
The function name is how you use it later on in the code. *use a well-described function name*.

**Arguments:**  
These act as variables within your function that take on the values that you pass in when you run.


**Function Statements:**  
These are what the function will do everytime you call it.

**Return Value:**  
For returning any calculations you have done within a function, you will need to use the `return` statement. You can only return one value from a function. Moreover, you can return multiple values as a tuple.

In [3]:
def my_summation(a,b):
  return a+b

x = 10
y = 5

sum = my_summation(x,y)
print("x ",x)
print("y ",y)
print("sum x+y ", sum)

x  10
y  5
sum x+y  15

### Function Arguments

In [ ]:
# default argument #
def my_summation2(a,b=1):
  return a+b

x = 10
y = 5
sum = my_summation2(x)
print("x ",x)

print("sum x+_ ", sum)


sum = my_summation2(x,y)
print("x ",x)
print("y ",y)
print("sum x+y ", sum)

x  10
sum x+_  11
x  10
y  5
sum x+y  15

### Keyword Arguments
using keyword for input arguments

In [ ]:
# keyword argument #
def my_subtract(a,b=1):
  return a-b

x = 10
y = 5
sub = my_subtract(x, y)
print("x ",x)
print("y ",y)
print("sub x-y ", sub)


sub = my_subtract(b=x, a=y)
print("x ",x)
print("y ",y)
print("keyword sub x-y ", sub)

x  10
y  5
sub x-y  5
x  10
y  5
keyword sub x-y  -5

### Recursive Function

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        print(" *x ", x)
        return (x * factorial(x-1))


num = 3
print("The factorial of", num, "is", factorial(num))

 *x  3
 *x  2
The factorial of 3 is 6

In [ ]:
# if  #
x = 10
y = 20

if x>y:
  print(" x is greater than y.")

In [ ]:
# if-else #
x = 10
y = 20

if x>y:
  print(" x is greater than y.")
else:
  print(" x is not greater than y.")

 x is not greater than y.

In [ ]:
# if-elseif-else #
x = 5
y = 20
z = 10

if x>y:
  print(" x is greater than y.")
elif x>z:
  print(" x is greater than z.")
else:
  print(" x is the lowest.")

 x is the lowest.

### For loop

In [ ]:
# for #
my_list = [1,2,3]

sum=0
for ad in my_list:
    sum+=ad    #This is short hand for sum = sum+ad
    print(sum)

#for country in ['England', 'Spain', 'India']:
#    print(country)

1
3
6

In [ ]:
# nested for #
x=[0,1,2]
y=['a','b','c']
# nested for loops
for a in x:
    for b in y:
        print(a,b)
    print("\n")

0 a
0 b
0 c


1 a
1 b
1 c


2 a
2 b
2 c

In [ ]:
# for and range #
z=range(5)
print(z, type(z))

#Range
#for i in z:
#    print('Printing five')

#for i in range(5):
#    print('Print five more')

#range(start=0, end, step=1)
for i in range(5,20,2):
    print('i: %d is the value' % (i))
    #print(f'i:{i}  is the value' )

range(0, 5) <class 'range'>
i: 5 is the value
i: 7 is the value
i: 9 is the value
i: 11 is the value
i: 13 is the value
i: 15 is the value
i: 17 is the value
i: 19 is the value

### While loop
- Performs a loop while a conditional is True.
- Doesn't auto-increment.

In [ ]:
# while loop #
i = 12

#while i >= 7:
#    print(i)
#    i = i -1

for i in range(12,7,-2):
    print('i: %d is the value' % (i))
    #print(f'i:{i}  is the value' )

i: 12 is the value
i: 10 is the value
i: 8 is the value

Q1 : Input student score and show grade as follow condition

*   A : >= 80
*   B : 60-79
*   C : < 60

In [ ]:
score = int(input("input score: "))

if score >= 80:
  print("A")
elif score >= 60 and score <=79:
  print("B")
else:
  print("C")

input score: 79
B

Q2 : Input the name and count vowel (a,e,i,o,u)

In [19]:
name = input("input name: ")

count = { "a": 0,
          "e": 0,
          "i":0,
          "o":0,
          "u":0,}

word = name.split()
print("word", word)

for j in range(len(word)):
  for i in word[j]:
    if i=='a':
      count["a"] = count["a"]+1
    elif i=='e':
      count["e"] = count["e"]+1
    elif i=='i':
      count["i"] = count["i"]+1
    elif i=='o':
      count["o"] = count["o"]+1
    elif i=='e':
      count["u"] = count["u"]+1

print(count)

input name: Tipthida Paladkong
word ['Tipthida', 'Paladkong']
{'a': 3, 'e': 0, 'i': 2, 'o': 1, 'u': 0}

### Extra loop "FAST"

Q : sum the numbers from 1 to 100000000

In [ ]:
# loop #
import time
start = time.time()

total_sum = 0
for i in range(100000000):
    total_sum += i

print(f'Sum: {total_sum}')
print(f'For loop: {time.time() - start} seconds')

Sum: 4999999950000000
For loop: 13.841039180755615 seconds

In [ ]:
# build-in function #
import time
start = time.time()

total_sum = sum(range(100000000))

print(f'Sum: {total_sum}')
print(f'Sum/range: {time.time() - start} seconds')

Sum: 4999999950000000
Sum/range: 2.0507190227508545 seconds

In [ ]:
# numpy #
import time
import numpy as np
start = time.time()
total_sum = np.sum(np.arange(100000000))

print(f'Sum: {total_sum}')
print(f'Duration: {time.time() - start} seconds')

Sum: 4999999950000000
Duration: 0.41219210624694824 seconds

## Random

* Random answer in list
* Random integer value
* Random floating point value
* Random shuffle value in a list

In [ ]:
# import random #
import random

In [ ]:
# prints a random value from the list
list1 = [10, 28, 32, 49, 54, "peter"]
print(random.choice(list1))

peter

In [ ]:
# random integer #
for i in range(20):
   print(random.randint(0,100))

79
1
6
95
87
60
17
80
83
83
76
69
14
68
12
20
67
89
8
51

In [ ]:
# random floating point #
for i in range(10):
   num = 100*random.random()
   print(num)

45.97685070749108
87.98606987966039
57.8367115375696
72.09665158623807
35.19710603743752
52.31310811099426
14.86719916842285
35.06868098527828
12.94941574346925
79.0310522279003

In [ ]:
# random shuffle #
x = [10, 20, 30, 40, 50, 60]
random.shuffle(x)
print(x)
# [60, 10, 30, 20, 50, 40]

[60, 20, 30, 40, 10, 50]

## Sorted

*   sort with sorted()
*   sort list, tuple, set, string
*   sort list of dictionary

In [ ]:
# sort list #
num_list = [4, 10, 1, 7]
sorted_list = sorted(num_list)
print(sorted_list)

[1, 4, 7, 10]

In [ ]:
# sort tuples and set #
tuples = (4, 10, 1, 7)
sets = {10, 5, 10, 0, 2}
sorted_tuples = sorted(tuples)
sorted_sets = sorted(sets)

print("tuples", tuples)
print("sorted_tuples", sorted_tuples)

print("\n")
print("sets", sets)
print("sorted_sets", sorted_sets)

tuples (4, 10, 1, 7)
sorted_tuples [1, 4, 7, 10]


sets {0, 10, 2, 5}
sorted_sets [0, 2, 5, 10]

In [ ]:
# sort character and word in string #
num_string = '98765'
char_string = 'sorting is fun'
sorted_num_string = sorted(num_string)
sorted_char_string = sorted(char_string)

print("sorted_num_string", sorted_num_string)
print("sorted_char_string", sorted_char_string)

string = 'sorting is fun'
sorted_string = sorted(string.split())
print("sorted_string", sorted_string)

sorted_num_string ['5', '6', '7', '8', '9']
sorted_char_string [' ', ' ', 'f', 'g', 'i', 'i', 'n', 'n', 'o', 'r', 's', 's', 't', 'u']
sorted_string ['fun', 'is', 'sorting']

The built-in Python function sorted() comprises of three parameters:

**iterable** â€” Required. A sequence such as string, tuple or list and collection such as set or dictionary.

**key** â€” Optional. A function that serves as a key or to customize the sort order. The argument is set to None by default.

**reverse** â€” Optional. A boolean flag that reverses the order of sorting. If True, the sorted list is reversed. The default argument is False.

In [ ]:
# reversed sort #
name_list = ['Markian', 'Alex', 'Suzzane', 'Harleen']
name_sort = sorted(name_list)
print("name_sort", name_sort)
name_sort_rev = sorted(name_list, reverse=True)
print("name_sort_rev", name_sort_rev)

name_sort ['Alex', 'Harleen', 'Markian', 'Suzzane']
name_sort_rev ['Suzzane', 'Markian', 'Harleen', 'Alex']

In [ ]:
# sort by len #
word_list = ['cherry', 'donut', 'Michigan', 'transcipt']
key_sort = sorted(word_list, key=len)

print("key_sort", key_sort)

key_sort ['donut', 'cherry', 'Michigan', 'transcipt']

In [ ]:
# sort list of dictionary #
list_data = [{'name': 'Homer',
              'age': 39},
             {'name': 'Bart',
              'age': 10}]
list_sorted = sorted(list_data, key=lambda d: d['age'])

print("before sorted", list_data)
print("after sorted", list_sorted)

before sorted [{'name': 'Homer', 'age': 39}, {'name': 'Bart', 'age': 10}]
after sorted [{'name': 'Bart', 'age': 10}, {'name': 'Homer', 'age': 39}]